@use 'src/app/shared/styles/colors';

.card {
  width: 225px;
  height: 70px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$color-neutral-100;
  border-top: 13px transparent;
  border-left: 1px solid colors.$color-neutral-60;
  cursor: pointer;
}

.date {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: colors.$color-secondary-0;
}

.weekday {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 100;
  line-height: 12px;
  color: colors.$color-neutral-30;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: colors.$color-primary;
}

.no-flight {
  pointer-events: none;
  cursor: default;
}

.no-flight > .date {
  color: colors.$color-secondary-40;
}

.selected {
  height: 83px;
  border-top: none;
  border-bottom: 4px solid transparent;
}

.selected.seats-almost-full {
  border-bottom-color: colors.$color-error;
}

.selected.seats-less-than-half {
  border-bottom-color: colors.$color-highlight-yellow0;
}

.selected.seats-more-than-half {
  border-bottom-color: colors.$color-highlight-green0;
}

.selected > .date {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: colors.$color-primary;
}

.selected > .weekday {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.selected > .price {
  font-size: 30px;
  line-height: 36px;
}
