@use 'src/app/shared/styles/colors';

:host {
  --tui-carousel-padding: 'null';

  & ::ng-deep .t-items {
    align-items: flex-end;
  }
}

.selector {
  max-width: 1130px;
  height: 83px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.step-button {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 6px));
  z-index: 10;

  &-prev {
    left: 0%;
  }

  &-next {
    right: 0%;
  }
}
