@use 'src/app/shared/styles/colors';

.selector {
  margin: 0 auto;
  position: relative;
  max-width: 1130px;
  display: flex;
  background-color: colors.$color-neutral-100;
}

.step-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  &-prev {
    left: 0%;
  }

  &-next {
    right: 0%;
  }
}
