<div class="wrapper">
  <h1 class="title"><tui-svg src="/assets/icons/preview.svg"></tui-svg> Summary</h1>
  <div class="grid">
    <air-summary-flight-card
      [flight]="booking.flight"
      [passengerData]="booking.passengerData"
    ></air-summary-flight-card>
    <air-summary-flight-card
      *ngIf="booking.returnFlight"
      [flight]="booking.returnFlight"
      [passengerData]="booking.passengerData"
    ></air-summary-flight-card>
    <div class="payment-wrapper">
      <div class="card">
        <div class="category" *ngFor="let passenger of passengerCategories; index as i">
          <div class="category-wrapper" *ngIf="booking.passengers[passenger]">
            <div class="category-title">
              <span> {{ booking.passengers[passenger] }} x {{ passenger | titlecase }} Fare </span>
              <span>
                {{ getPriceForPassengerCategory(passenger) | currency : preferredCurrency }}
              </span>
            </div>
            <div class="details">
              <span>Fare</span>
              <span>{{ getFareForPassengerCategory(passenger) | currency : preferredCurrency }}</span>
            </div>
            <div class="details">
              <span>Tax & Service Charge</span>
              <span>{{ getTaxForPassengerCategory(passenger) | currency : preferredCurrency }}</span>
            </div>
          </div>
        </div>
        <div class="total">
          <span>TOTAL:</span>
          <span class="total-price">{{ getTotalPrice() | currency : preferredCurrency }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-wrapper">
    <button tuiButton appearance="flat" type="button" (click)="onBackButton()">Back</button>
    <button tuiButton type="button" appearance="outline" (click)="onAddToCart()">Add to order cart</button>
    <button tuiButton type="button" appearance="primary" (click)="onBuyNow()">Buy now</button>
  </div>
</div>
