@use 'src/app/shared/styles/colors' as *;

* {
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1130px;
  margin: 20px auto;
}

.title {
  color: $color-primary;
  display: flex;
  gap: 0.75rem;
}

.flights-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card {
  max-width: 551px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  border-radius: 8px;
}

.card-header {
  background: var(--tui-base-03);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  border-top: 3px solid $color-primary;
}

.flight {
  display: flex;
  gap: 1.5rem;
  font-weight: 600;
}

.flight-number {
  color: var(--tui-primary);
  font-weight: 600;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 3rem;
}

.total {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  font-weight: 600;
}

.total-price {
  color: $color-primary;
}

.category-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.payment-wrapper {
  grid-column-start: 2;
}
