<div class="wrapper">
  <h1 class="title"><tui-svg src="/assets/icons/preview.svg"></tui-svg> Summary</h1>
  <div class="grid">
    <div class="card" *ngFor="let flight of booking.flightsData">
      <div class="card-header">
        <div class="flight">
          <span class="flight-number">{{ booking.flightNumber }}</span>
          <span>{{ flight.departure }} - {{ flight.arrival }}</span>
        </div>
        <div class="date">
          {{ flight | flightsDates }}
        </div>
      </div>
      <div class="card-content" *ngFor="let passenger of booking.passengerData">
        <div class="passenger">{{ passenger.firstName | uppercase }} {{ passenger.lastName | uppercase }}</div>
        <div class="baggage">
          <div *ngIf="passenger.baggageCount">{{ passenger.baggageCount }} checked bag (total 23 kg) included</div>
          <div *ngIf="passenger.category !== 'infants'">1 cabin bag + 1 personal item (max. 8 kg) included</div>
          <div *ngIf="passenger.category !== 'infants'">Seat {{ passenger.seat }}</div>
        </div>
      </div>
    </div>
    <div class="payment-wrapper">
      <div class="card">
        <div class="category" *ngFor="let passenger of passengerCategories; index as i">
          <div class="category-wrapper" *ngIf="booking.passengers[passenger]">
            <div class="category-title">
              <span> {{ booking.passengers[passenger] }} x {{ passenger | titlecase }} Fare </span>
              <span>
                {{ getPriceForPassengerCategory(passenger) | number | currency }}
              </span>
            </div>
            <div class="details">
              <span>Fare</span>
              <span>{{ getFareForPassengerCategory(passenger) | number | currency }}</span>
            </div>
            <div class="details">
              <span>Tax & Service Charge</span>
              <span>{{ getTaxForPassengerCategory(passenger) | number | currency }}</span>
            </div>
          </div>
        </div>
        <div class="total">
          <span>TOTAL:</span>
          <span class="total-price">{{ getTotalPrice() | number | currency }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-wrapper">
    <button tuiButton appearance="flat" type="button" (click)="onBackButton()">Back</button>
    <button tuiButton type="button" appearance="outline" (click)="onAddToCart()">Add to order cart</button>
    <button tuiButton type="button" appearance="primary" (click)="onBuyNow()">Buy now</button>
  </div>
</div>
