@use 'src/app/shared/styles/colors';
@use 'src/app/shared/styles/typography';

.flight-details {
  padding: 27px 40px;
  display: flex;
  border-radius: 5px;
  background-color: colors.$color-neutral-100;
  box-shadow: 0 1px 4px rgba(0 0 0 / 20%);
}

.flight-details-left {
  padding-right: 35px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.flight-details-right {
  padding-left: 28px;
  display: flex;
  align-items: center;
  gap: 32px;
  border-left: 2px dashed colors.$color-secondary-40;
}

.flight-duration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.flight-time,
.flight-connections {
  @extend %typo-label-small;

  flex-shrink: 0;
  color: colors.$color-neutral-black;
}

.flight-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flight-icon-line {
  width: 118px;
  height: 2px;
  background-color: colors.$color-secondary-40;
}

.flight-number {
  @extend %typo-body-medium;

  display: flex;
  align-items: center;
  gap: 12px;
}

.flight-number-label {
  color: colors.$color-neutral-30;
}

.flight-number-value {
  color: colors.$color-neutral-black;
}

.seats-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.seats {
  width: 100%;
  padding: 4px 8px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;

  &.seats-almost-full {
    background-color: colors.$color-highlight-red30;
  }

  &.seats-less-than-half {
    background-color: colors.$color-highlight-yellow30;
  }

  &.seats-more-than-half {
    background-color: colors.$color-highlight-green30;
  }
}

.seats-text {
  @extend %typo-subtitle-small;

  max-width: 55px;
  display: inline-block;
  text-align: right;
  color: colors.$color-neutral-20;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-label {
  @extend %typo-subtitle-small;

  color: colors.$color-neutral-30;
}

.price-value {
  @extend %typo-subtitle-large;

  color: colors.$color-primary;

  &.selected {
    color: colors.$color-neutral-black;
  }
}

.select-button,
.edit-button {
  @extend %typo-button;
}
