%typo-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

%typo-body-large {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

%typo-body-medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

%typo-body-small {
  font-size: 12px;
  font-weight: 100;
  line-height: 12px;
}

%typo-body-xsmall {
  font-size: 8px;
  font-weight: 400;
  line-height: 20px;
}

%typo-body-large-uppercase {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

%typo-body-xlarge {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

%typo-label-large {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

%typo-label-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

%typo-label-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

%typo-subtitle-small {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

%typo-subtitle-large {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

%typo-subtitle-medium {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

%typo-title-xsmall {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

%typo-title-large {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

%typo-title-small {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

%typo-title-medium {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
