<form class="form" [formGroup]="airportForm">
  <div class="flight-radios">
    <tui-radio-labeled class="flight-radio" formControlName="flightType" item="roundtrip" size="l"
      >Round Trip</tui-radio-labeled
    >
    <tui-radio-labeled class="flight-radio" formControlName="flightType" item="oneway" size="l"
      >One Way</tui-radio-labeled
    >
  </div>

  <div class="cities">
    <div class="cities-combo-boxes">
      <tui-combo-box
        *tuiLet="airportsDeparture$ | async as airportsDeparture"
        [tuiTextfieldCleaner]="true"
        [valueContent]="labelContent"
        [stringify]="stringifyAirport"
        (searchChange)="onDepartureSearchChange($event)"
        formControlName="departure"
        >From
        <input
          tuiTextfield
          placeholder="Type a city name"
          (input)="onDepartureSearchChange(extractValueFromEvent($event))"
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="airportsDeparture"
          [itemContent]="itemContent"
        ></tui-data-list-wrapper>
      </tui-combo-box>

      <tui-combo-box
        *tuiLet="airportsArrival$ | async as airportsArrival"
        [tuiTextfieldCleaner]="true"
        [valueContent]="labelContent"
        [stringify]="stringifyAirport"
        (searchChange)="onArrivalSearchChange($event)"
        formControlName="arrival"
        >Destination
        <input
          tuiTextfield
          placeholder="Type a city name"
          (input)="onArrivalSearchChange(extractValueFromEvent($event))"
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="airportsArrival"
          [itemContent]="itemContent"
        ></tui-data-list-wrapper>
      </tui-combo-box>

      <button
        class="cities-swapbutton"
        tuiIconButton
        type="button"
        icon="tuiIconRefreshCwLarge"
        size="m"
        appearance="outline"
        (click)="swapDepartureArrival()"
      ></button>
    </div>

    <tui-error *ngIf="departure?.touched && departure?.invalid" error="Departure airport is required"></tui-error>
    <tui-error *ngIf="arrival?.touched && arrival?.invalid" error="Arrival airport is required"></tui-error>
  </div>

  <div class="date-passengers-block">
    <div class="date-block">
      <tui-input-date-range *ngIf="flightType?.value === 'roundtrip'" formControlName="date" [min]="todayDate"
        >Dates</tui-input-date-range
      >
      <tui-input-date *ngIf="flightType?.value === 'oneway'" formControlName="date" [min]="todayDate"
        >Date</tui-input-date
      >
      <tui-error *ngIf="date?.touched && date?.invalid" error="Date is required"></tui-error>
    </div>

    <div class="passengers-block">
      <air-passenger-select *ngIf="passengers" formControlName="passengers"></air-passenger-select>
      <tui-error
        *ngIf="passengers.touched && passengers.hasError('adultValidator')"
        [error]="passengers.getError('adultValidator')"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <button tuiButton type="submit" [disabled]="!airportForm.valid" (click)="onSubmit()">Search</button>
  </div>
</form>

<ng-template #labelContent let-data>
  <div class="airport-label">
    <span class="airport-city">{{ data.city }}</span>
    <span class="airport-code">{{ data.iata_code }}</span>
  </div>
</ng-template>

<ng-template #itemContent let-data>
  <div class="airport-item">
    <span class="airport-item-heading">{{ data.city }} ({{ data.iata_code }})</span>
    <span class="airport-item-subheading">{{ data.name }}, {{ data.country }} </span>
  </div>
</ng-template>
