<footer class="footer">
  <div class="content-wrapper">
    <div class="top-container">
      <div class="copy">© 2023, AIRWAY. All rights reserved.</div>
      <div class="payment-methods">
        <span>We use these payment methods:</span>
        <ul class="icon-wrapper">
          <li class="icon-item">
            <img src="assets/icons/mastercard.svg" alt="Mastercard payment system" />
          </li>
          <li class="icon-item">
            <img src="assets/icons/amazon-pay.svg" alt="Amazon-pay payment system" />
          </li>
          <li class="icon-item">
            <img src="assets/icons/american-express.svg" alt="American express payment system" />
          </li>
          <li class="icon-item">
            <img src="assets/icons/visa.svg" alt="Visa payment system" />
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-container">
      <div>Developed by:</div>
      <ul class="devs">
        <li>
          <a href="https://github.com/binary-apple/" target="_blank" class="link">
            <img src="https://avatars.githubusercontent.com/u/112655570?v=4" alt="Developer's avatar" class="avatar" />
            binary-apple
          </a>
        </li>
        <li>
          <a href="https://github.com/gentoosiast/" target="_blank" class="link">
            <img src="https://avatars.githubusercontent.com/u/3116682?v=4" alt="Developer's avatar" class="avatar" />
            gentoosiast
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
